<!-- <div class="container mt-5 mb-5">
  <div class="row justify-content-around mt-5">
    <div class="col">
      <app-modalchallenge></app-modalchallenge>
    </div>
    <div class="col"><h2>ou</h2></div>
    <div class="col">
      <span class="btn btn-primary btn-file" id="connexion">
        Envoyer une photo
        <input
          type="file"
          id="formFile"
          (change)="onDrop($event.target.files)"
        />
      </span>
    </div>

    <div *ngFor="let file of files">
      <app-uploadtask [file]="file"></app-uploadtask>
    </div>
  </div>
</div> -->
<div class="center">
  <span class="btn button btn-file">
    Envoyer une photo
    <div class="button__horizontal"></div>
    <div class="button__vertical"></div>
    <input type="file" id="formFile" (change)="onDrop($event.target.files)" />
  </span>
</div>

<div *ngFor="let file of files">
  <app-uploadtask [file]="file"></app-uploadtask>
</div>
