/*
font-family: 'Amatic SC', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Charmonman', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Pacifico', cursive;
*/
.FullScreen {
  height: 100vh;
}

#Hbackground {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#Obackground {
  position: absolute;
  top: 0;
  background-color: antiquewhite;
  opacity: 5%;
}

/*Desktop*/

@media (max-aspect-ratio: 18/9) and (min-width: 700px) {
  #Hbackground {
    background-image: url("../../app/images/Nous1.jpg");
  }
}
/*Mobile*/
@media (max-width: 800px) {
  #Hbackground {
    background-image: url("../../app/images/NousV1.jpg");
  }
}
