/* #connexion {
  background-color: #2f7f57;
  color: white;
  border: white;
  font-family: "Major Mono Display", monospace;
} */

/* #loose {
  background-color: #e25729;
  color: white;
  border: white;
  font-family: "Major Mono Display", monospace;
} */

/* .btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
} */

.modal-title {
  font-family: "Major Mono Display", monospace;
}

.titre {
  color: #3d405b;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Major Mono Display", monospace;
}

.defi {
  color: #3d405b;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Major Mono Display", monospace;
}

.time {
  color: #3d405b;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Major Mono Display", monospace;
}

.randomquestion {
  color: #3d405b;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Major Mono Display", monospace;
}

@media all and (max-width: 767px) {
  #loose {
    margin-top: 35px;
  }
}
