.card-img {
  height: 45vh;
  width: auto;
  object-fit: inherit;
}

.card-body {
  background-color: #f4f1de;
}
.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black;
  background-color: blueviolet;
}

.slide:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
