<nav class="fixed-top navbar navbar-expand-lg navbarboris">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    Menu
  </button>
  <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
    <ul class="navbar-nav justify-content-around">
      <li class="nav-item" (click)="tohome()">
        <a data-toggle="tab" class="nav-link mr-3 ml-3" routerLink="/home"
          >Home
        </a>
      </li>

      <li (click)="toinformation()" class="nav-item">
        <a class="nav-link mr-3 ml-3">Information</a>
      </li>
      <li class="nav-item" (click)="today()">
        <a
          class="nav-link mr-3 ml-3"
          *ngIf="(afAuth.user | async) && (user | async)?.accountType <= 3"
          >Journée</a
        >
      </li>
      <li class="nav-item" (click)="tohonnor()">
        <a
          class="nav-link mr-3 ml-3"
          *ngIf="(afAuth.user | async) && (user | async)?.accountType <= 4"
          >Vin d'honneur</a
        >
      </li>
      <li class="nav-item" (click)="toparty()">
        <a
          class="nav-link mr-3 ml-3"
          *ngIf="(afAuth.user | async) && (user | async)?.accountType <= 5"
          >Soirée</a
        >
      </li>

      <li class="nav-item" (click)="topictures()">
        <a class="nav-link mr-3 ml-3" *ngIf="afAuth.user | async">Photos</a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link mr-3 ml-3"
          *ngIf="!(afAuth.user | async)"
          routerLink="/login"
          >login</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link mr-3 ml-3"
          href="#"
          *ngIf="afAuth.user | async"
          (click)="logout()"
          >Logout</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link mr-3 ml-3"
          *ngIf="(user | async)?.accountType == '1'"
          routerLink="/admin"
          >Admin</a
        >
      </li>
    </ul>
  </div>
</nav>

<script>
  $("#topheader .navbar-nav a").on("click", function () {
    $("#topheader .navbar-nav").find("li.active").removeClass("active");
    $(this).parent("li").addClass("active");
  });
</script>

<!-- <mat-card *ngIf="afAuth.user | async">
  <mat-icon>check_circle</mat-icon>
  <span>User is logged in</span>
</mat-card>
<mat-card *ngIf="!(afAuth.user | async)">
  <mat-icon>do_not_disturb</mat-icon>
  <span>User is not logged in</span>
</mat-card> -->
