.navbarboris {
  background-color: rgba(0, 0, 0, 0.63);
  color: #f2e2ce;
  box-shadow: 0 1px 0 0 rgba(240, 240, 240, 0.52);
  padding-bottom: 2vh;
  width: auto;
}
.navbarboris > button {
  background-color: #f2e2ce;
}

a {
  padding-left: 2vw;
  padding-right: 2vw;

  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  border: solid #f2e2ce 1px;
  cursor: pointer;
}

.nav-link {
  color: #f2e2ce;
}
/* 
.box {
  padding: 60px;
  max-width: 650px;
  background: #80d5a6;
  border: 5px dashed mediumseagreen;
  box-shadow: 0 0 0 2.5px #226741, 0 0 0 12.5px #fff, inset 0 0 0 2.5px #226741,
    0 5px 10px 15px rgba(0, 0, 0, 0.5), inset 0 0 0 6px #fff,
    inset 0 0 100vw 100vw beige;
  color: mediumseagreen;
  font-family: Marcellus, serif;
  font-size: 3em;
  text-shadow: 0 2px #fff;
  text-align: center;
} */
