<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Connectez vous</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              autocomplete="off"
              formControlName="email"
              type="email"
              matInput
              placeholder="Email"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              autocomplete="off"
              formControlName="password"
              type="password"
              matInput
              placeholder="Password"
            />
          </mat-form-field>
        </p>
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
        </div>

        <button mat-raised-button color="primary">Login</button>
      </form>
    </mat-card>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<button
  class="btn btn-outline-primary mb-2 mr-2"
  (click)="openVerticallyCentered(content)"
>
  Modal vertically centered
</button>
