<div class="size">
  <ng-template class="modal-content" #contenty let-modal>
    <div
      id="modal-header"
      class="modal-header text-center justify-content-center"
    >
      <button
        type="button"
        class="close text-danger"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div id="body" class="modal-body">
      <mat-card class="card">
        <form
          ngNativeValidate
          [formGroup]="loginForm"
          (ngSubmit)="loginUser()"
          type=""
        >
          <h3>Pour vous connecter rien de plus simple :</h3>
          <mat-tab-group color="accent" mat-align-tabs="start">
            <mat-tab label="Email">
              - L'email que vous nous avez renseigné dans les différents
              formulaires</mat-tab
            >
            <mat-tab label="Mot de passe">
              - Votre nom + prenom en minuscule sans apostrophe , ni tiret
            </mat-tab>
          </mat-tab-group>

          <p class="mt-5">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                autocomplete="off"
                formControlName="email"
                type="email"
                matInput
                placeholder="Email"
              />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                class="fieldpassword"
                autocomplete="off"
                formControlName="password"
                type="password"
                matInput
                placeholder="Password"
                pt-5
              />
            </mat-form-field>
          </p>

          <div
            class="modal-footer text-center justify-content-around align-items-center pb-0"
          >
            <button
              class="button mt-3 mb-3"
              mat-raised-button
              (click)="modal.close('close click')"
            >
              Connectez vous
              <div class="button__horizontal"></div>
              <div class="button__vertical"></div>
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </ng-template>
</div>

<!-- <button
  id="connexion"
  class="btn btn-outline-primary mb-2 mr-2"
  (click)="openBackDropCustomClass(contenty)"
>
  Connectez vous !
</button> -->
<div class="center">
  <button class="btn button" (click)="openWindowCustomClass(contenty)">
    C'est par ici !
    <div class="button__horizontal"></div>
    <div class="button__vertical"></div>
  </button>
</div>
