* {
  padding: 0;
  margin: 0;
}

#connexion {
  background-color: #2f7f57;
  color: white;
  border: white;
}

#connexion:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inline {
  margin-top: 5%;
  font-size: 1.5vh;
}

#exemplebutton {
  height: 2vh;
}

.full-width {
  width: 100%;
  background-color: transparent;
}

.fieldpassword {
  background-color: red;
}

.ligne {
  color: #2f7f57;
}

#modal-connexion {
  background-color: blue;
}

.card {
  background-color: #d9c9c9;
}

@media (max-aspect-ratio: 18/9) and (min-width: 700px) {
  .modal-body {
    margin-top: 12vh;
    margin-left: 9vw;
    margin-right: 9vw;
  }
}

@media (max-aspect-ratio: 18/9) and (max-width: 700px) {
  .modal-body {
    margin-top: 15vh;
    margin-left: 9vw;
    margin-right: 9vw;
  }
}

@media (max-width: 415px) {
  .modal-body {
    margin-top: 9 vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (max-width: 391px) {
  .modal-body {
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
/* @media (max-width: 413px) and (min-width: 411px) {
  .modal-body {
    margin-top: 15 vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (max-width: 825px) and (min-width: 865px) {
  .modal-body {
    margin-top: 0 vh;
    padding-bottom: 50vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
 */
