* {
  padding: 0;
  margin: 0;
}

#connexion {
  background-color: #2f7f57;
  color: white;
  border: white;
}

#connexion:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inline {
  margin-top: 5%;
  font-size: 1.5vh;
}

#exemplebutton {
  height: 2vh;
}

.full-width {
  width: 100%;
  background-color: transparent;
}

.fieldpassword {
  background-color: red;
}

.ligne {
  color: #2f7f57;
}

.modal-content {
  width: 100vw;
  height: 90vh;

  background-image: url(../../app/images/mvh.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-body {
  margin-top: 8vh;
  margin-left: 9vw;
  margin-right: 9vw;
}

.card {
  background-color: #d9c9c9;
}

/* .modal-body {
  background-image: url(../../app/images/paper.jpg);
}
#modal-header {
  background-image: url(../../app/images/paper.jpg);
} */

@media (max-aspect-ratio: 18/9) and (min-width: 700px) {
  .modal-body {
    margin-top: 12vh;
    margin-left: 9vw;
    margin-right: 9vw;
  }
}

@media (max-width: 382px) {
  .modal-body {
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
