.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

h2 {
  color: #3d405b;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Major Mono Display", monospace;
}
/* 
#connexion {
  background-color: #2f7f57;
  color: white;
  border: white;
} */
