<!-- <div
  class="dropzone"
  dropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering"
>
  <h3>Drag & Drop files here</h3>

  <div>
    <label for="file">Choose File</label>
    <input type="file" (change)="onDrop($event.target.files)" />
  </div>
</div> -->

<div class="mb-3">
  <label for="formFile" class="form-label">Default file input example</label>
  <input
    class="form-control"
    type="file"
    id="formFile"
    (change)="onDrop($event.target.files)"
  />
</div>

<div *ngIf="files.length > 0">
  Uploads
  <hr />
</div>

<div *ngFor="let file of files">
  <app-uploadtask [file]="file"></app-uploadtask>
</div>
