<div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto my-5" *ngFor="let file of files | async">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>
            <h4>Posté par : {{ file.posted }}</h4></mat-card-title
          >
          <mat-card-subtitle
            >Posté le :
            {{ file.timestamp | date: "M/d/yy, h:mm a" }}</mat-card-subtitle
          >
        </mat-card-header>
        <img
          mat-card-image
          src="{{ file.downloadURL }}"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            <!-- {{ card.description }} -->
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <!--   <button mat-button>{{ card.buttonText }}</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<!-- <p-carousel
  styleClass="custom-carousel"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  [responsiveOptions]="responsiveOptions"
  [value]="files"
>
  <ng-template pTemplate="header">
    <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
  </ng-template>
  <ng-template let-product pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <div class="p-mb-3"></div>
        <div>
          <h4 class="p-mb-1">{{ files.posted }}</h4>

          <span
            [class]="
              'product-badge status-' + product.inventoryStatus.toLowerCase()
            "
            >{{ product.inventoryStatus }}</span
          >
          <div class="car-buttons p-mt-5">
            <p-button
              type="button"
              styleClass="p-button p-button-rounded p-mr-2"
              icon="pi pi-search"
            ></p-button>
            <p-button
              type="button"
              styleClass="p-button-success p-button-rounded p-mr-2"
              icon="pi pi-star"
            ></p-button>
            <p-button
              type="button"
              styleClass="p-button-help p-button-rounded"
              icon="pi pi-cog"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
 -->
