<!-- <div
  id="party"
  class="bg-danger"
  *ngIf="(afAuth.user | async) && (user | async)?.accountType <= 5"
>
  <div class="FullScreen">
    <div class="row">
      <div class="col-sm">One of three columns</div>
      <div class="col-sm">One of three columns</div>
    </div>
  </div>
</div> -->

<div
  class="container-fluid"
  id="party"
  *ngIf="(afAuth.user | async) && (user | async)?.accountType <= 5"
>
  <div class="row">
    <div
      class="col-lg-8 col-md-12 col-sm-10 order-1 order-md-1 order-lg-1 bg-danger FullScreenright"
    >
      <app-uploadmanager></app-uploadmanager>
      <app-icebreakinsideparty></app-icebreakinsideparty>
    </div>
    <div
      class="col-lg-4 col-md-12 col-sm-10 order-2 order-md-2 order-lg-2 FullScreenleft"
    >
      party pictures
    </div>
  </div>
</div>
