Dashboard

<br />
<br />
<button mat-raised-button color="primary" routerLink="/home">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>

<mat-list *ngIf="user | async">
  <mat-list-item>Account Type: {{ (user | async)?.accountType }}</mat-list-item>
  <mat-list-item>Display Name: {{ (user | async)?.displayName }}</mat-list-item>
  <mat-list-item
    >Display Name (lower):
    {{ (user | async)?.displayName_lower }}</mat-list-item
  >
  <p>prenom : {{ (user | async)?.prenom }}</p>
  <mat-list-item>Email: {{ (user | async)?.email }}</mat-list-item>
  <mat-list-item
    >Email (lower): {{ (user | async)?.email_lower }}</mat-list-item
  >
  <mat-list-item
    >Email Verification Status:
    {{ (afAuth.user | async)?.emailVerified }}</mat-list-item
  >
</mat-list>
