* {
  margin: 0;
  padding: 0;
}
.FullScreenleft {
  /* border-left: solid 1px white; */
  min-height: 100vh;
  padding-top: 8vh;
  background-image: url("../../app/images/good.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 1vh;
}

.FullScreenright {
  min-height: 100vh;
  padding-top: 8vh;

  background: rgb(235, 189, 160);
  background: linear-gradient(
    0deg,
    rgba(235, 189, 160, 1) 0%,
    rgba(235, 189, 167, 1) 42%,
    rgba(239, 209, 188, 1) 100%
  );

  padding-bottom: 1vh;
}

h1 {
  color: #3d405b;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Major Mono Display", monospace;
}

h2 {
  color: #3d405b;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Major Mono Display", monospace;
}
