* {
  margin: 0;
  padding: 0;
}
.FullScreenleft {
  /* border-left: solid 1px white; */
  min-height: 100vh;
  padding-top: 8vh;
  background-image: url("../../app/images/good.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 1vh;
}

.FullScreenright {
  min-height: 100vh;
  padding-top: 8vh;

  background: -webkit-linear-gradient(
    -1deg,
    rgb(239, 211, 190) 3%,
    rgb(234, 182, 159) 97%
  );
  background: linear-gradient(-1deg, rgb(239, 211, 190), rgb(234, 182, 159));

  padding-bottom: 1vh;
}

h1 {
  color: #3d405b;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Major Mono Display", monospace;
}

h2 {
  color: #3d405b;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Major Mono Display", monospace;
}
